<div class="container">

    <div class="row">
        <span class="col-md-12">
            <h2 id="title">Welcome to Ember</h2>
        </span>
    </div>

    <div class="row">
        <span class="col-md-4">{{link-to 'Home' 'application'}}</span>
        <span class="col-md-4">{{link-to 'About' 'about'}}</span>
        <span class="col-md-4">{{link-to 'Speakers' 'speakers'}}</span>
    </div>

    <hr>

    <div class="row">
        {{outlet}}
    </div>
    
</div>
